{% extends "layout.html" %}
    
    {% block main_content %}

    <div class="container" style="padding-top: 75px;">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex flex-row align-items-center">
                <h2 class="mt-1">Comments on {{ order_obj.name }}</h2>
            </div>
            <div>
                <form action="" enctype="multipart/form-data" method="POST">
                    <input type="hidden" id="redirect_to_new_comment" name="redirect_to_new_comment" value="{{ order_obj.name }}"><button class="btn btn-success ml-2 mb-2 mr-2 text-center">Create a Comment</button>
                </form>
            </div>
            
        </div>
        <hr>
        {% if all_comments %}
            <div style="padding-top: 30px;">
                <div class="row">
                    <div class="col-12 mb-4">
                        {% for comment in all_comments %}
                            <div class="card post mt-4" style="background: lightgrey; padding:25px;">
                                <div class="post-heading">
                                    <div class="float-left image">
                                        <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" class="img-circle avatar mr-3" alt="user profile image" width="97px" height="97px">
                                    </div>
                                    <div class="float-left meta">
                                        <div class="title h3">
                                            {{ comment.title }}
                                        </div>
                                        <div class="title h5">
                                            by {{ comment.author_display_name }}
                                        </div>
                                        <h5 class="text-muted time">Date Created (M-D-Y): {{ comment.date_created.strftime('%m-%d-%Y') }}</h5>
                                    </div>
                                </div> 
                                <div class="post-description">
                                    <hr>
                                    <p>{{ comment.content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        {% else %}
            <br><h6 class="text-center">Currently, there are no comments on {{ order_obj.name }}. Please check again later.</h6>
        {% endif %}
    </div>
        

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock main_content %}
